In [2]:
import pandas as pd

In [3]:
# Read the CSV file into a DataFrame
#df = pd.read_csv('dataset/games.csv')
df = pd.read_csv('dataset/video_game_bestsellers.csv')

In [4]:
df.head()

,Unnamed: 0,Title,Genre(s),wiki_page,Console
0,0,Marvel's Spider-Man,Action-adventure,Marvel's Spider-Man is a 2018 action-adventure...,PS4
1,1,Uncharted 4: A Thief's End,Action-adventure,Uncharted 4: A Thief's End is a 2016 action-ad...,PS4
2,2,The Witcher 3: Wild Hunt,Action role-playing,The Witcher 3: Wild Hunt is a 2015 action role...,PS4
3,3,The Last of Us Remastered,Action-adventuresurvival horror,The Last of Us is a 2013 action-adventure game...,PS4
4,4,Star Wars Battlefront,First-person shooterthird-person shooter,Star Wars: Battlefront is a series of first- a...,PS4

In [5]:
# Remove attributes you don't want
#columns_to_remove = ['AppID', 'Release date', 'Estimated owners', 'Peak CCU', 'Required age',
#                     'Price', 'DLC count', 'Full audio languages' ,'Reviews', 'Header image', 'Website', 'Support url',
#                     'Support email', 'Windows', 'Mac', 'Linux', 'Metacritic score', 'Metacritic url',
#                     'User score', 'Positive', 'Negative', 'Score rank', 'Achievements', 'Recommendations',
#                     'Notes', 'Average playtime forever', 'Average playtime two weeks',
#                     'Median playtime forever', 'Median playtime two weeks', 'Developers', 'Publishers',
#                     'Screenshots', 'Movies']

columns_to_remove = ['Unnamed: 0', 'Genre(s)', 'Console']

In [6]:
df = df.drop(columns=columns_to_remove)

In [7]:
# Rename the attributes
#new_column_names = {'Name': 'Nom', 'About the game': 'Description',
#                    'Supported languages': 'Langues', 'Categories': 'Categories',
#                    'Genres': 'Genres', 'Tags': 'Mots-cles'}

new_column_names = {'Title': 'Nom', 'wiki_page': 'Description'}

In [8]:
df = df.rename(columns=new_column_names)

In [11]:
df.head()

,Nom,Description
0,Marvel's Spider-Man,Marvel's Spider-Man is a 2018 action-adventure...
1,Uncharted 4: A Thief's End,Uncharted 4: A Thief's End is a 2016 action-ad...
2,The Witcher 3: Wild Hunt,The Witcher 3: Wild Hunt is a 2015 action role...
3,The Last of Us Remastered,The Last of Us is a 2013 action-adventure game...
4,Star Wars Battlefront,Star Wars: Battlefront is a series of first- a...

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nom          89 non-null     object
 1   Description  89 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [13]:
# Save the new dataset in a new CSV file
df.to_csv('dataset/video_game_bestsellers.csv', index=False)

In [11]:
# DATA CLEANING

In [12]:
data = pd.read_csv('dataset/datasetENG.csv')

In [13]:
data.head()

,Nom,Description,Langues,Categories,Genres,Mots-cles
0,Galactic Bowling,Galactic Bowling is an exaggerated and stylize...,['English'],"Single-player,Multi-player,Steam Achievements,...","Casual,Indie,Sports","Indie,Casual,Sports,Bowling"
1,Train Bandit,THE LAW!! Looks to be a showdown atop a train....,"['English', 'French', 'Italian', 'German', 'Sp...","Single-player,Steam Achievements,Full controll...","Action,Indie","Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc..."
2,Jolt Project,Jolt Project: The army now has a new robotics ...,"['English', 'Portuguese - Brazil']",Single-player,"Action,Adventure,Indie,Strategy",NaN
3,Henosis™,HENOSIS™ is a mysterious 2D Platform Puzzler w...,"['English', 'French', 'Italian', 'German', 'Sp...","Single-player,Full controller support","Adventure,Casual,Indie","2D Platformer,Atmospheric,Surreal,Mystery,Puzz..."
4,Two Weeks in Painland,ABOUT THE GAME Play as a hacker who has arrang...,"['English', 'Spanish - Spain']","Single-player,Steam Achievements","Adventure,Indie","Indie,Adventure,Nudity,Violent,Sexual Content,..."

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85103 entries, 0 to 85102
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nom          85097 non-null  object
 1   Description  81536 non-null  object
 2   Langues      85103 non-null  object
 3   Categories   80505 non-null  object
 4   Genres       81548 non-null  object
 5   Mots-cles    64003 non-null  object
dtypes: object(6)
memory usage: 3.9+ MB

In [15]:
# Function to parse the language list and check if 'English' is in it
def contains_english(languages):
    try:
        language_list = eval(languages.replace("'", '"'))  # Convert single quotes to double quotes
        return 'English' in language_list
    except:
        return False

In [16]:
# Filter rows where langues is not English
data = data[data['Langues'].apply(contains_english)]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77698 entries, 0 to 85102
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nom          77694 non-null  object
 1   Description  77594 non-null  object
 2   Langues      77698 non-null  object
 3   Categories   76559 non-null  object
 4   Genres       77611 non-null  object
 5   Mots-cles    61701 non-null  object
dtypes: object(6)
memory usage: 4.1+ MB

In [18]:
data = data.drop(columns="Langues")

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77698 entries, 0 to 85102
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nom          77694 non-null  object
 1   Description  77594 non-null  object
 2   Categories   76559 non-null  object
 3   Genres       77611 non-null  object
 4   Mots-cles    61701 non-null  object
dtypes: object(5)
memory usage: 3.6+ MB

In [20]:
# Filter rows with null values in specified columns
columns_to_check = ['Nom', 'Description', 'Categories', 'Genres', 'Mots-cles']
data = data.dropna(subset=columns_to_check)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60667 entries, 0 to 85094
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nom          60667 non-null  object
 1   Description  60667 non-null  object
 2   Categories   60667 non-null  object
 3   Genres       60667 non-null  object
 4   Mots-cles    60667 non-null  object
dtypes: object(5)
memory usage: 2.8+ MB

In [22]:
data.to_csv('dataset/datasetENG.csv', index=False)